# LeetCode SQL 50

<li><a href="#Recyclable_and_Low_Fat_Products">Recyclable_and_Low_Fat_Products</a></li>
<li><a href="#Find_Customer_Referee">Find_Customer_Referee</a></li>
<li><a href="#Big_Countries">Big_Countries</a></li>
<li><a href="#Article_Views_I">Article_Views_I</a></li>
<li><a href="#Invalid_Tweets">Invalid_Tweets</a></li>
<li><a href="#Replace_Employee_ID_With_The_Unique_Identifier">Replace_Employee_ID_With_The_Unique_Identifier</a></li>
<li><a href="#Product_Sales_Analysis_I">Product_Sales_Analysis_I</a></li>
<li><a href="#Customer_Who_Visited_but_Did_Not_Make_Any_Transactions">Customer_Who_Visited_but_Did_Not_Make_Any_Transactions</a></li>
<li><a href="#Write_Here">Write_Here</a></li>
<li><a href="#Write_Here">Write_Here</a></li>

In [11]:
input().replace(' ', '_')

 Customer Who Visited but Did Not Make Any Transactions

'Customer_Who_Visited_but_Did_Not_Make_Any_Transactions'

<a id='Recyclable_and_Low_Fat_Products'></a>
# Recyclable_and_Low_Fat_Products

```sql
/* Write your T-SQL query statement below */
SELECT product_id
FROM Products
WHERE low_fats = 'Y' AND recyclable = 'Y'
```

<a id='Find_Customer_Referee'></a>
# Find_Customer_Referee

```sql
/* Write your T-SQL query statement below */
SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL
```

<a id='Big_Countries'></a>
# Big_Countries

```sql
/* Write your T-SQL query statement below */
SELECT name, population, area
FROM World
WHERE area >= 3000000 OR population >= 25000000
```

<a id='Article_Views_I'></a>
# Article_Views_I

```sql
/* Write your T-SQL query statement below */
SELECT DISTINCT author_id AS id
FROM Views
WHERE author_id = viewer_id
ORDER BY id 
```

<a id='Invalid_Tweets'></a>
# Invalid_Tweets

```sql
/* Write your T-SQL query statement below */
SELECT tweet_id
FROM Tweets
WHERE LEN(content) > 15
```

<a id='Replace_Employee_ID_With_The_Unique_Identifier'></a>
# Replace_Employee_ID_With_The_Unique_Identifier

```sql
SELECT unique_id, name
FROM Employees e
LEFT JOIN EmployeeUNI eUNI
ON e.id = eUNI.id
```

<a id='Product_Sales_Analysis_I'></a>
# Product_Sales_Analysis_I

```sql
/* Write your T-SQL query statement below */
SELECT product_name, year, price
FROM Sales s
INNER JOIN Product p
ON s.product_id = p.product_id
```

<a id='Customer_Who_Visited_but_Did_Not_Make_Any_Transactions'></a>
# Customer_Who_Visited_but_Did_Not_Make_Any_Transactions

```sql
/* Write your T-SQL query statement below */
SELECT customer_id, COUNT(*) AS count_no_trans
FROM Visits v
LEFT JOIN Transactions t
ON v.visit_id = t.visit_id
WHERE t.visit_id IS NULL
GROUP BY customer_id
```

In [ ]:
<a id='Refer_to'></a>
# Refer_to

```sql

```

In [ ]:
<a id='Refer_to'></a>
# Refer_to

```sql

```